
@font-face {
    font-family: Roboto;
    src: url(./Assests/Fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: sans;
    src: url(./Assests/Fonts/JosefinSans/static/JosefinSans-Regular.ttf);
}
*{
    margin: 0;
    
}
body{
    background-color: #232F3D;
}

.navbar{
    width: 100%;
    height: 80px;
    background-color:  #FF9A01;
    display: flex;
}
.nav-logo{
    width: 90px;
    height: 90px;
    margin-top: -5px;
}
.nav-heading{
font-family: sans;
color: #232F3D;
font-size:xx-large;
font-weight: bolder;
margin-top: 20px;
margin-right: 0px;
}

.input-box{
    width: 500px;
    height: 40px;
    margin-top: 20px;
    margin-left: 60px;
    background-color: white;
  
}

.mybtn{
    width: 60px;
    height: 40px !important;
    margin-top: 20px;
    background-color: #232F3D;
    margin-right: 400px;

}

.btn:hover{
    cursor: pointer;
    width: 60px;
    height: 40px;
    
}


.search{
    height: 25px !important;
    width: 40px !important;
    padding-left: 15px;
   
    
}
.mainBtns{
    margin-left: 190px;
    display:none;
    
   
}

.mainBtns button{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 5px;
    background-color: #232F3D;
    color: #FF9A01;
    font-family: sans;
    font-size: normal;
}
.maincontent{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.container1{
    min-height: 100vh;
    width: 15%;
}

.container2{
    min-height: 100vh;
    width: 60%;
    background-color:#232F3D;
    border-top: 0;
    display: flex;
    justify-content: center;
    
}

.container3{
    min-height: 100vh;
    width: 25%;
}

.question{
    width: 90%;
    height: 72vh;
    background-color:#FF9A01 ;
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 5vw;
    box-shadow: #FF9A01 0px 5px 15px;

}

#header-box{
    border: none;
  border-bottom: 4px solid #232F3D;
  background-color: #FF9A01;
  color: #232F3D;
  width: 40vw;
  margin-top: 45px;
  margin-left: 50px;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 60px;
  }

  #header-box::placeholder {
    color: #232F3D;
    opacity: 4; /* Firefox */
    font-size: large;
  }

  #myLabel{
    color: #232F3D;
    font-size: x-large;
    margin-left: 200px;
    margin-top: 200px;
    font-weight: bold;
  }
  #dropdown{
    margin-left: 400px;
    margin-top: 10px;
    width: 20vw;
    height: 40px;
    font-weight: bold;
  }
  #myLabel1{
    color: #232F3D;
    font-size: x-large;
    padding-top: 200px;
    margin-left: 30px;
    font-weight: bold;
    
    
  }

  #subLabel{
    color: #232F3D;
    font-size: large;
    font-weight: bold;
    padding-left: 30px;
  }

  .blog{
    margin-left: 0px;

  }
  .textbox{
    margin-top: 40px;
    margin-left: 30px;
    width: 48vw;
    height: 20vh;
    line-height:0;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0;
    border: none;
    outline: none;
    color: #FF9A01;

  }

  #myBtn{
    background-color: #232F3D !important;
    color: white;
    margin-top: 20px;
    width: 90px;
    margin-left: 40vw;
}
.btn:hover{
    background-color: #232F3D !important; 
    width: 90px;
    
} 
#imageInput{
    margin-left: 30px;
    margin-top: 10px;
    font-family:Roboto;
    color: #FF9A01;
    
}

.loginImg{
    padding: 0%;
}