@font-face {
    font-family: Roboto;
    src: url(./Assests/Fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(./Assests/Fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: aesthico;
    src: url(./Assests/Fonts/Aesthico/Aesthico\(Demo\)-Regular.ttf);
}

body {
    background-color: #232F3D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 40vw;
    height: 70vh;
    background-color: white;
    margin-top: 15vh;
    border-radius: 2vw;
    border: solid 3px #FF9A01;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 200px;
    flex-direction: column;
    z-index: 4;
}

.logo {
    width: 20vw;
    height: 15vh;
    object-fit: contain;

}

.container h2 {
    font-family: Roboto;
    font-size: x-large;
    margin-top: -1vh;
    margin-bottom: 4vh;
    color:#232F3D ;
}


p {
    font-family: RobotoLight;
    margin-right: 10vw;
    font-weight: bold;
    margin-left: 1vw;

    
}

.password {
    margin-right: 30vw;
}

.text-box {
    height: 3vh;
    width: 35vw;
    margin-left: 1vw;
    
}

.text-box2 {
    height: 3vh;
    width: 35vw;
    margin-left: 1vw;

}

#checkbox {

    margin-right: 35vw;
    margin-top: 2vh;
    background-color: #FF9A01;
}

#myspan {
    margin-top: -2vh;
    margin-right: 24vw;
    font-family: RobotoLight;
    font-weight: bold;

}
#newspan{
    margin-left: 25vw;
    font-family: RobotoLight;
    color: #FF9A01;
    font-weight: 900;
    margin-top: -2vh;
}
.signinBtn{
    height: 4vh;
    width: 35vw;
    margin-top: 3vh;
    background-color: #232F3D ;
    color: white;
    border-radius: 1vw;
    font-weight: bolder;
    margin-left: 2vw;
    margin-bottom: 1vw;
}
#sub-text{
    font-family: RobotoLight;
    font-size: medium;
    margin-top: 3vh;
    
    
}

.btn{
    display: flex;
    
}
#myBtn{
    width: 15vw;
    height: 5vh;
    margin: 1vw;
   
    font-family: Roboto;
    font-size: large;
    border: 0.5px solid  #232F3D ;
}

#myBtn2{
    width: 15vw;
    height: 5vh;
    margin: 1vw;
    font-family: Roboto;
    font-size: large;
    border: 0.5px solid  #232F3D ;
}

#myBtn:hover{
    cursor: pointer;
}

.btnGoggle{
    width: 1.5vw;
    height: 2vh;
    margin-right: 1vw;
    
    background-position-y: 15;
}

.btnFacebook{
    width: 1.5vw;
    height: 2vh;
    margin-right: 1vw;
    
    
}
.mainlogo{
width: 400px;
height: 400px;
margin-left: 20px;
margin-bottom: 150px;
z-index: 0;
position: relative;
}
.main-head{
    font-weight: bold;
    color: #FF9A01;
    font-size: 60px;
    margin-top: -200px;
    margin-left: 50px;
    z-index: 1;
    font-family: aesthico;
    

}
.sub-head{
    margin-top: -35px;
    color: #FF9A01;
    margin-left: 70px;
    font-family: Roboto;
    font-weight: normal;
}
.signuptext{
display: inline;
/* margin-top: 30px; */
white-space: nowrap;
display: inline;
margin-left: 120px;
}

.signup-text2{
    color: #FF9A01;
    padding-left: 10px;
    font-family: Roboto;
    
}
.signup-text2:hover{
    cursor: pointer;
}
.container2{
    width: 40vw;
    height: 70vh;
    background-color: white;
    margin-top: 15vh;
    border-radius: 2vw;
    border: solid 3px #FF9A01;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left:628px;
    flex-direction: column;
    z-index: 3;
    position: absolute;
}
.container2 h2 {
    font-family: Roboto;
    font-size: x-large;
    margin-top: -1vh;
    margin-bottom: 4vh;
    color:#232F3D ;
}

#signup-mail{
    padding-right: 250px;
}
.usernameField{
    padding-right: 580px;
}

 span{
    color: #FF9A01; 
}
#getlogin:hover {
cursor: pointer;
}